TG_message_collector/session_name.session
TG_message_collector/config.ini
.idea/Bot_dlya_TG_kopirovanie_soobsheniy.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.ipynb_checkpoints/Bot_dlya_TG_kopirovanie_soobsheniy-checkpoint.ipynb
TG_message_collector/config.ini
!Архив/TG_public_collector/config.ini
!Архив/TG_public_collector/session_name.session
!Архив/TG_public_collector/test.txt
!Архив/TG_public_collector/TG_public_massage_collector.py
!Архив/TG_public_collector/TGmassage_collector.py
