TG_message_collector/session_name.session
TG_message_collector/config.ini
.idea/Bot_dlya_TG_kopirovanie_soobsheniy.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.ipynb_checkpoints/Bot_dlya_TG_kopirovanie_soobsheniy-checkpoint.ipynb
TG_message_collector/config.ini
!Архив/TG_public_collector/config.ini
!Архив/TG_public_collector/session_name.session
!Архив/TG_public_collector/test.txt
!Архив/TG_public_collector/TG_public_massage_collector.py
!Архив/TG_public_collector/TGmassage_collector.py
TG_message_collector/session_name.session
TG_message_collector/Collected_messages/messages_2025-04-29_09-06-40.txt
TG_message_collector/session_name.session
TG_message_collector/session_name.session-journal
.idea/workspace.xml
.idea/.gitignore
TG_message_collector/session_name.session
TG_message_collector/session_name.session
TG_message_collector/TG__massage_collector.py
TG_message_collector/Collected_messages/messages_2025-04-29_01-16-28.txt
TG_message_collector/Collected_messages/messages_2025-04-29_09-21-54.txt
TG_message_collector/Collected_messages/messages_2025-04-29_09-24-18.txt
TG_message_collector/Collected_messages/messages_2025-04-29_09-31-45.txt
TG_message_collector/Collected_messages/messages_2025-04-29_09-37-33.txt
.idea/.gitignore
.idea/.gitignore
TG_message_collector/session_name.session
TG_message_collector/TG__massage_collector.py
.idea/.gitignore
TG_message_collector/session_name.session
TG_message_collector/TG__massage_collector.py
TG_message_collector/TG__massage_collector.py
TG_message_collector/TG__massage_collector.py
/TG_message_collector/
